<a href="https://colab.research.google.com/github/Nodnarbx69/inteligenciaArtificial/blob/main/junio10Basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!python --version

Python 3.10.12

In [10]:
myNumber=3

myNumberDecimal=3.5
state=True

In [13]:
print(f'valor entero {myNumber}')
print(f'valor decimal {myNumberDecimal}')
print(f'valor booleano {state}')

valor entero 3
valor decimal 3.5
valor booleano True

In [14]:
total = myNumber + myNumberDecimal
print(f'La suma de {myNumber} y {myNumberDecimal} es {total}')

La suma de 3 y 3.5 es 6.5

In [21]:

myNumber = 10
myNumber2 = 2


print(f'valor entero {myNumber}')
print(f'valor decimal {myNumber2}')

total = myNumber + myNumber2
print(f'La suma de {myNumber} y {myNumber2} es {total}')

power = myNumber ** myNumber2
print(f'{myNumber} elevado a la {myNumber2} es {power}')

valor entero 10
valor decimal 2
La suma de 10 y 2 es 12
10 elevado a la 2 es 100

In [23]:
var1 = 'Hola'
var2 = 'Brandon'

print(var1 + ' ' + var2)

Hola Brandon

In [24]:
print(3*var1)

HolaHolaHola

In [25]:
num1=10
num2=20.5

print('El tipo de numero es ',type(num1))
print('El tipo de numero es ',type(num2))

El tipo de numero es  <class 'int'>
El tipo de numero es  <class 'float'>