<a href="https://colab.research.google.com/github/Nodnarbx69/inteligenciaArtificial/blob/main/Miercoles26june.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#sets as a container

var1 = set()

var1.add(3)

print(var1)

var1.add('Jhon')
var1.add(True)
print(var1)

var1.remove(3)

print(var1)
print(len(var1))

for elem in var1:
    print(elem)

{3}
{True, 3, 'Jhon'}
{True, 'Jhon'}
2
True
Jhon

In [8]:
#tuples

var2 = tuple()

var= (1,2,3,4)

print(type(var))

aux=list(var)

aux.append(4)

var=tuple(aux)

print(var)

<class 'tuple'>
(1, 2, 3, 4)

In [18]:
class saludo(object):
  def __init__(self, name):
    self.name = name

  def say_hello(self):
    return f"Hello,  {self.name}"
name1 = saludo('Jhon')
print(name1.say_hello())

Hello,  Jhon

In [24]:
class Calculadora:
    def __init__(self, radio, base, altura, lado):
        self.radio = radio
        self.base = base
        self.altura = altura
        self.lado = lado

    def area_circulo(self):
        return 3.1416 * self.radio ** 2

    def area_triangulo(self):
        return (self.base * self.altura) / 2

    def area_cuadrado(self):
        return self.lado ** 2

#
calculadora = Calculadora(10, 5, 12, 8)

area_circulo = calculadora.area_circulo()
print("Area del circulo:", area_circulo)

area_triangulo = calculadora.area_triangulo()
print("Area del triangulo:", area_triangulo)

area_cuadrado = calculadora.area_cuadrado()
print("Area del cuadrado:", area_cuadrado)

Area del circulo: 314.15999999999997
Area del triangulo: 30.0
Area del cuadrado: 64

In [ ]:
class persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

estudiante1=persona("Jhon", 25)

print(estudiante1.nombre)
print(estudiante1.edad)

In [25]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def mayusculas(self):
        return self.nombre.upper(), self.edad.upper()

    def minusculas(self):
        return self.nombre.lower(), self.edad.lower()

# Example usage
persona = Persona("Juan", "25")

# Print in uppercase
nombre_mayus, edad_mayus = persona.mayusculas()
print("Nombre en mayúsculas:", nombre_mayus)
print("Edad en mayúsculas:", edad_mayus)

# Print in lowercase
nombre_minus, edad_minus = persona.minusculas()
print("Nombre en minúsculas:", nombre_minus)
print("Edad en minúsculas:", edad_minus)

Nombre en mayúsculas: JUAN
Edad en mayúsculas: 25
Nombre en minúsculas: juan
Edad en minúsculas: 25

In [26]:
class Calculator:
    def __init__(self):
        pass

    def add(self, a, b):
        return a + b

    def subtract(self, a, b):
        return a - b

    def multiply(self, a, b):
        return a * b

    def divide(self, a, b):
        if b == 0:
            raise ValueError("No se puede dividr por 0")
        return a / b

# Example usage
calculator = Calculator()

result = calculator.add(5, 3)
print("5 + 3 =", result)

result = calculator.subtract(10, 2)
print("10 - 2 =", result)

result = calculator.multiply(4, 6)
print("4 * 6 =", result)

result = calculator.divide(12, 3)
print("12 / 3 =", result)

5 + 3 = 8
10 - 2 = 8
4 * 6 = 24
12 / 3 = 4.0